html, body {
    margin: 0 !important;
/*
    background: #E8EAF6;
    color: #757575;
*/
    background: #F2F4F4;
}

html, body, input {
    font-family: 'Myriad Pro', 'Roboto', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
/*    color: white;*/
}

h3, p {
    margin-top: 0;
}

p {
    color: #666;
    margin-bottom: 0;
}

ul, ol {
    padding-bottom: 12px; 
}

p, ul, ol, li, a {
    font-size: 14px;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    background: #FA5153;
    color: white;
    padding: 8px 12px;
    border: 0;
    cursor: pointer;
}

button:hover {
    opacity: .8;
}

button:active {
    opacity: .9;
}

.moc-sandbox {
    width: 100%;
    height: 100%;
}

..moc-platform {
    width: 100%;
}

.moc-top, .moc-mid, .moc-bot {
    width: 100%;
}

.moc-mid {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 56px;
}

.moc-top {
    position: fixed;
    top: 0;
    -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
}
     
.moc-header {
/*    background: #6B3E85;*/
    background-color: #fff;
    height: 56px;
    color: #fff;
    text-align: center;
    
}

.moc-header h2 {
    line-height: 56px;
    margin: 0;
    color: #6B3E85;
    font-family: 'Maven Pro', sans-serif;
}

.moc-header h2 img {
    max-height: 32px;
    border-radius: 8px;
    vertical-align: middle;
    margin: auto auto 4px auto;
}

.moc-mid {
    
}

.moc-banner {
/*    height: 320px;    */
    padding: 12px;
    text-align: center;
}

.moc-canvas {
/*    padding: 0 8px;*/
    padding-top: 24px;
}

.moc-post {
/*    background: #E8EAF6;*/
    margin: 0 auto 8px auto;     
/*    padding: 24px;*/
}

.moc-post p {
/*
    text-align: justify;
    text-justify: inter-word;
*/
}

.moc-post h3 {
    font-weight: 900;
    text-align: center;
}

.moc-post h4 {
/*    color: #00B5C3;*/
    color: #364D5B;
    margin: 0;
    
}

.moc-post h5 {
    margin-top: 0;
    line-height: 17px;
    font-size: 13px;
}

.moc-ico {
    height: 17px;
    width: 17px;
    background-size: 17px;
    background-position: center;
    margin: 0 4px 0 17px;
    float: left;
}

.moc-post h6 {
    margin: 0;
    font-size: 13px;
}

.moc-post ul, .moc-post ol {
    -webkit-padding-start: 0px;
}

.moc-post ul li {
    list-style-type: none;
}

.moc-bot {
        
}

.moc-step {
/*    background: #F2F4F4;*/
    background: #fff;
    padding: 18px;
    margin-bottom: 12px;
/*    border-radius: 4px;*/
}

.moc-step p {
    margin-bottom: 8px;
}

.moc-hint {
    background: #FAE89B;
    border: 1px solid #D5AD00;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 4px;
    margin-left: 12px;
    margin-right: 12px;
}



.ico-loc {
    background: url('moc_location.png');
}

dev-copyright {
    margin: 0 auto;
    background-image: url('nqdi.png');
    height: 32px;
    width: 32px;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 8px;
    transition: all ease-in-out 0.2s;
}